/* 
    Created on : 30-Apr-2016, 11:51:03
    Author     : Cameron Small
*/
.theme-blue {
  background-color: #2486c7; }

.theme-blue-text {
  color: #2486c7; }

.fit-image {
  height: 100%; }

html {
  overflow-y: scroll; }

main {
  margin-top: 2em; }

#dynamic-main {
  margin-top: 2em;
  margin-bottom: 5em;
  transition: opacity 0.5s; }

#loading-bar {
  margin: 0;
  display: none; }

.header-image {
  height: 280px;
  background-size: cover;
  background-position: center; }

.header-image h4 {
  padding: 10px; }

.play-button {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  color: white; }

.play-button-inner {
  font-size: 6rem; }

#player-holding-image {
  cursor: pointer; }

a {
  color: inherit; }

iframe {
  border: none; }

.card-panel .row {
  margin-bottom: 0; }

.pointer {
  cursor: pointer; }

.readable {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); }

.italic {
  font-style: italic; }

.pad {
  padding: 1rem; }

.dropdown-content li > a, .dropdown-content li > span {
  color: #2486c7; }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #2486c7; }

.parallax-container {
  height: 300px; }

.parallax {
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  background-color: black; }

nav {
  background-color: #2486c7; }

#main-nav {
  background-color: transparent;
  z-index: 50; }

#sidenav-overlay {
  z-index: 49; }

.navbar-fixed {
  z-index: 50; }

#section-select {
  position: relative;
  color: black;
  padding-top: 2rem;
  display: none; }

#section-select-inner {
  width: 200px;
  height: 300px;
  background-color: white; }

.section-icon {
  width: 84px; }

.section-icon-media {
  width: 64px; }

#section-drop-down:hover + #section-select {
  display: block; }

#section-select:hover {
  display: block; }

#search-bar {
  height: 64px; }

#show-title {
  bottom: 0;
  position: absolute;
  white-space: nowrap;
  width: 100%;
  color: white; }

.nav-logo {
  height: 48px;
  margin: 8px; }

#other-logos {
  width: 0;
  display: inline-block;
  overflow: hidden;
  transition: width 1s; }

#other-logos:hover {
  width: 310px; }

#lcr-logo {
  float: left; }

#lcr-logo:hover + #other-logos {
  width: 310px; }

.video-container {
  background-size: cover; }

#main-content-home {
  margin-top: 100vh; }

#slide-container {
  height: 100vh;
  overflow: hidden; }

.channel-nowplaying {
  white-space: nowrap; }

.player-container {
  background-color: black;
  width: 100%;
  display: inline-block;
  position: relative; }

.player-container:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: ''; }

.player-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#player-description {
  margin-top: 0.5rem; }

#player-tags {
  margin-top: 0.5rem; }

#player-playlist {
  margin-top: -0.5rem; }

.playlist-item {
  cursor: pointer; }

.search-result-title {
  font-size: 1.5em; }

#footer {
  background-color: #2486c7; }

#footer-logo {
  height: 100px;
  margin-top: -20px; }

#footer-section-logos img {
  width: 30%;
  display: inline-block; }

.show-episode-header h4 {
  line-height: 61px;
  margin: 0; }

/* Player container special adjustments */
.spotify-container:after {
  padding-top: 70%; }

.cinescope-container:after {
  padding-top: 41.7%; }

/* Tabs section */
.tabs .tab a {
  color: #2486c7; }

.tabs .tab a:hover {
  color: #4a1863; }

.tabs .indicator {
  background-color: #2486c7; }

/* Button containers */
.button-container {
  position: relative; }

.bottom-buttons {
  position: absolute;
  bottom: 1rem;
  right: 1rem; }

.bottom-buttons .btn-flat {
  padding: 0px 0.75rem; }

@media (max-width: 600px) {
  .parallax-container {
    height: 120px; }

  #show-title h3 {
    font-size: 2rem;
    white-space: normal; }

  #tv-logo {
    height: 40px; }

  .container {
    overflow: hidden; } }

/*# sourceMappingURL=style_main.css.map */
