/* 
    Created on : 30-Apr-2016, 11:51:03
    Author     : Cameron Small
*/
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

$lcr_blue: #2486c7;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
    margin-top: 2em;
}

#dynamic-main{
    margin-top:2em;
    margin-bottom:5em;
    transition:opacity 0.5s;
}

#loading-bar{
    margin:0;
    display:none;
}

.play-button{
    position:absolute;
    z-index:10;
    cursor:pointer;
    color:white;
}
.play-button-inner{
    font-size:6rem;
}


a{
    color:inherit;
}

iframe{
    border:none;
}

.card-panel .row{
    margin-bottom:0;
}

.pointer{
    cursor:pointer;
}

.readable{
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.italic{
    font-style:italic;
}

.dropdown-content li > a, .dropdown-content li > span{
    color:$lcr_blue;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color:$lcr_blue;
}

.parallax-container {
   height: 300px;
 }
 
 .parallax{
     $pblur: 5px;
     $pfilter: blur(30px);
     -webkit-filter:$pfilter;
     -moz-filter:$pfilter;
     -ms-filter:$pfilter;
     filter:$pfilter;
     background-color:black;
 }

nav{
    background-color:$lcr_blue;
}

#main-nav{
    background-color:transparent;
    z-index:50;
}

.navbar-fixed{
    z-index:50;
}

#search-bar{
    height:64px;
}

#search-container{
    //background-color:#EC2228;
}

#show-title{
    bottom: 0;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    color:white;
}

#tv-logo{
    height:48px;
    margin:8px;
}

.video-container{
    background-size:cover;
}

#main-content-home{
    margin-top:100vh;
}

#welcome-screen{
    
}

#slide-container{
    height:100vh;
    overflow:hidden;
}

.channel-nowplaying{
    white-space:nowrap;
}

.player-container {
    background-color:black;
    width: 100%;
    display: inline-block;
    position: relative;
}
.player-container:after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.player-inner{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  color: white;
 width:100%;
height:100%;
overflow:hidden;
}

#player-description{
    margin-top:0.5rem;
}

#player-tags{
    margin-top:0.5rem;
    
}

#player-playlist{
    margin-top:-0.5rem;
}

.playlist-item{
    cursor:pointer;
}

.search-result-title{
    font-size: 1.5em;
}

#footer{
    background-color:$lcr_blue;
}

#footer-logo{
    height:100px;
    margin-top:-20px;
}

#footer-section-logos img{
    width:30%;
    display:inline-block;
}

.show-episode-header{
    
    h4{
       line-height:61px;
       margin:0;
   }

   input.select-dropdown{
       //border-bottom:none;
   }
}
/* Player container special adjustments */

.spotify-container:after{
  padding-top:109.45%;
}

.cinescope-container:after{
    padding-top:41.7%;
}

@media(max-width:600px){
    .parallax-container{
        height:120px;
    }
    
    #show-title h3{
        font-size:2rem;
        white-space:normal;
    }
    #tv-logo{
        height:40px;
    }
    
    .container{
        overflow:hidden;
    }

}